# ==========================================
# Environnements & Python
# ==========================================
.venv/
venv/
ENV/
env/
*.pyc
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/

# ==========================================
# Données & Bases de données (DuckDB)
# ==========================================
*.duckdb
*.duckdb.wal
*.db
data/
raw_data/
tmp/

# ==========================================
# dbt (Data Build Tool)
# ==========================================
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
target/
dbt_packages/
logs/
profiles.yml

# ==========================================
# Streamlit & Configs
# ==========================================
.streamlit/secrets.toml

# ==========================================
# Variables d'Environnement & Secrets
# ==========================================
.env
.env.local
*.pem
*.key

# ==========================================
# Fichiers Système & IDE
# ==========================================
.vscode/
.idea/
.DS_Store
Thumbs.db
